[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=picom
Comment[ca]=engegada de picom
Comment[cs]=start picom
Comment[el]=εκκινηση picom
Comment[es]=Inicio de picom
Comment[es_ES]=Inicio de picom
Comment[fr]=picom démarrage
Comment[fr_BE]=picom démarrage
Comment[hu]=picom indítás
Comment[it]=avvio di picom
Comment[ja]=コンプトンを起動
Comment[nb]=picom-oppstart
Comment[pt]=arranque do picom
Comment[pt_BR]=Permite personalizar o visual e a aparência das janelas da área de trabalho
Comment[ru]=запуск picom
Comment[sl]=picom zagon
Comment[sv]=picom start
Comment[tr]=picom başlangıç
Comment=picom startup
Exec=picom-launch.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true
Icon=
Path=

